.message-actions.pending {
  display: flex;
  align-items: center;
  gap: 8px;
}

.message-label.pending {
  color: rgb(187, 0, 0);
}

.message-label.deny {
  color: rgb(237, 108, 2);
}

.pending-approval-note {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #40413d;
  font-size: 12px;
}
